/* Congo scheme */
:root {
  --color-neutral: #fff;
  /* Gray */
  --color-neutral-50: #cdd0e4;
  --color-neutral-100: #b5bad6;
  --color-neutral-200: #9ea4c8;
  --color-neutral-300: #888fb8;
  --color-neutral-400: #727aa8;
  --color-neutral-500: #5f6795;
  --color-neutral-600: #53597c;
  --color-neutral-700: #454a64;
  --color-neutral-800: #373a4d;
  --color-neutral-900: #282a36;
  /* Violet */
  --color-secondary-50: #fefeff;
  --color-secondary-100: #e9dafe;
  --color-secondary-200: #d3b6fc;
  --color-secondary-300: #bd93f9;
  --color-secondary-400: #a771f6;
  --color-secondary-500: #924ff2;
  --color-secondary-600: #7d2eed;
  --color-secondary-700: #6916e0;
  --color-secondary-800: #5914bb;
  --color-secondary-900: #491298;
  /* Fuchsia */
  --color-primary-50: #ffeaf6;
  --color-primary-100: #ffc4e6;
  --color-primary-200: #ff9fd6;
  --color-primary-300: #ff79c6;
  --color-primary-400: #fd55b6;
  --color-primary-500: #fb31a5;
  --color-primary-600: #f80e95;
  --color-primary-700: #d90880;
  --color-primary-800: #b3086b;
  --color-primary-900: #8e0855;
}
