{{ $url := index . "link" }}
{{ $name := index . "type" }}
{{ $desc := index . "desc" }}

<a
    class="text-neutral"
    href="{{ $url }}"
    target="_blank"
    aria-label="{{ $name | title }}"
    rel="me noopener noreferrer">
<div class="py-2 px-8 m-2 border-2 border-neutral bg-neutral-600 rounded-xl flex hover:border-primary-400 hover:text-primary-400 hover:font-semibold">
    <div class="pr-4" aria-label="{{ $name | title }} icon">
        {{ partial "icon.html" $name }}
    </div>
    <div aria-label="Description">
        {{ if isset . "desc" }}
            {{ $desc }}
        {{ else }}
            {{ $name }}
        {{ end }}
    </div>
</div>
</a>